NODE_ENV=production

ALLOWED_ORIGINS=http://localhost:8081,exp://10.99.132.169:8081

PORT=3001

# URL
BASE_URL=http://localhost:3001

# JWT
JWT_EXPIRES_IN=7d
JWT_SECRET=XXXX

# DATABASE MYSQL or POSTGRESQL
DB_TYPE=mysql # or postgresql
DB_HOST=localhost
DB_PORT=3306 #5432
DB_USERNAME=db_username
DB_PASSWORD=db_password
DB_DATABASE=db_name
DB_SSL=false # true

